/* 

.Container
{
    background-color: red;
}
.footer
{
    background-color: purple;
    margin: 0;
} */

/* CONTAINTS*/

.TOP{
    max-width: 800px;
    text-align: center;
    margin: 10vh auto 0vh auto;
    font-style:italic ;
    margin-top: 10px;
    margin-bottom: 15px;
}


/* main content */
.Container {
    max-width: 600px;
    margin: 10vh auto 0vh auto;
}


/* contains answer */
#display
{
    background-color:#EAF6F6;
    line-height: 70px;
    text-align: right;
    height: 70px;
    font-size: 25px;
    margin-bottom: 10px;
}

/* apply on all button */
.buttons
{
    display: grid;
    /* border-bottom: 1px solid #999;
    border-left: 1px solid #999; */
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    column-gap: 10px;
    row-gap: 10px;
    padding:
}


/* for each button */

.button{
 border: 0.5px solid #999;
 /* 100 k jagah 50px */
 line-height: 50px; 
 text-align: center;
 font-size: 30px;
 cursor: pointer;
 /* width: 70px; */
 /* height: 70px; */
 /* background: red; */
 border-radius: 10%

}

/* for equal button */
#equal
{
    background-color:grey;
}


.button:hover{
    background-color: #CFD2CF;
    color: white;
    /* transition: 0.3s ease-in-out; */
}

/* copyright */
.copyright{
    text-align: center;
    /* padding-top: 490px; */
 color: white;
    background-color:black;
    padding-top: 10px ;
    padding-bottom: 10px;
    margin-bottom: 0px;
    margin-left: 0px;
}

P{
    margin-left: 50px;
    font-size: 20px;
}
.history-block
{
    /* background-color:#F5E8E4; */
    float: left;
    width: 40%;
    padding: 10px;
    height: 450px;
    /* padding-bottom: 376px; */
   

}

.section
{
    float: right;
    width: 60%;
    /* background-color: green; */
    height: 450px;
    padding: 10px;
    /* background-color: black; */
   
}
.big-block{
 
    height: 450px;
    
}

.body{
    background-color:#F9F5EB;
    /* background-color: #FCE2DB; */
}

.history{
    font-size: 20px;
}